MalifoApp/MalifoApp/Cards.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cards">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Card">
          <xs:complexType>
            <xs:attribute name="key" type="xs:string" use="required" />
            <xs:attribute name="imagePath" type="xs:string" use="required" />
            <xs:attribute name="text" type="xs:string" use="required" />
            <xs:attribute name="shorttext" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>